:root {
    --radius: 2vmin;
    --shimer-clr: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
    :root {
        --shimer-clr: #1f1f1f;
    }
}

.skeleton {
    width: 100%;
    background-color: transparent;
    display: grid;
    place-items: center;
    grid-auto-rows: min-content;
    padding: .4vmin;
}

.skeleton *:not(.skeleton__img) {
    border-radius: .4vmin;
}

.skeleton.shimmer *:not(.skeleton__wrapper) {
    background-image: linear-gradient(0.25turn, transparent, var(--shimer-clr), transparent);
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: 150% 0;
    animation: shimmer 1.75s linear infinite;
}

.skeleton.pulse, .skeleton__wrapper.pulse * {
    animation: pulse 1.75s linear infinite;
}

.skeleton__img {
    border-radius: 50%;
}

.skeleton__wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: .6vmin;
}

.skeleton__paragraph {
    height: 2vmin;
}

.skeleton__paragraph:not(:last-child) {
    width: 100%;
}

.skeleton__paragraph:last-child {
    width: 75%;
}

@keyframes shimmer {
    to {
        background-position: -100% 0;
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .4;
    }
}